.add-item__name {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: @c-dark-grey-2;
}

.add-item__name-link {
  text-decoration: none;
}

.add-item__specifications {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: @c-dark-grey;
}
