.advantages {
  @media (max-width: @mobile-width-only) {
    padding-top: 27px;
    padding-bottom: 42px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid @c-border-menu;
  }

  @media (min-width: @desktop-width) {
    margin-top: 50px;
    padding-bottom: 50px;
    border: none;
  }
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  margin: 0;

  @media (max-width: @mobile-width-only) {
    margin-bottom: 38px;
  }

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.advantages__item {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: @c-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
