.catalogs {
  @media (max-width: @mobile-width-only) {
    margin-top: 200px;
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    margin-top: 505px;
  }
}

.catalogs__item {
  background-color: @c-basic-grey;
  padding: 20px;

  @media (max-width: @mobile-width-only) {
    width: 100%;
    margin-bottom: 20px;
  }

  @media (min-width: @tablet-width) {
    min-height: 372px;
    margin-bottom: 30px;
  }
}

.catalogs__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: @c-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
  }
}

.catalogs__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.catalogs__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: @c-black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
