.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: 1;
  flex-direction: column;
  align-items: center;
  align-content: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 110px;
  }
}

.navigation-list__item {
  font-size: 20px;
  line-height: 20px;
  list-style: none;
  text-align: center;
  border-top: 1px solid @c-border-menu;

  @media (max-width: @mobile-width-only) {
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
    margin-right: 35px;
    border: none;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 24px;
    border: none;
  }
}

.navigation-list__item:last-child {
  border-top: 1px solid @c-border-menu;
  border-bottom: 1px solid @c-border-menu;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.navigation-list__link {
  color: @c-black;
  display: block;
  text-decoration: none;
  word-break: break-all;

  @media (max-width: @mobile-width-only) {
    padding: 22px 20px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: @c-white;
  }
}
