.page-header {
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 5;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media (max-width: @mobile-width-only) {
    padding: 12px 20px;
  }

  @media (min-width: @tablet-width) {
    padding: 24px 30px;
  }
}

.page-header__toggle {
  margin: 0;
  padding: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__toggle--closed {
  background-image: url("../img/page-header/burger.svg");
}

.page-header__logo {
  min-width: 191px;
  width: 100%;

  @media (max-width: @mobile-width-only) {
    width: 190px;
    height: 40px;
  }

  @media (min-width: @tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.page-header__nav {
  @media (min-width: @tablet-width) {
    width: 70%;
  }

  @media (min-width: @desktop-width) {
    width: 50%;
  }
}
