.page-footer {
  margin-top: 30px;
}

.page-footer__contacts {
  min-height: 114px;
}

.page-footer__cooperation {
  @media (max-width: @mobile-width-only) {
    display: flex;
    justify-content: space-evenly;
  }
}

.page-footer__cooperation-header {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: @c-light-black;
}

.page-footer__street {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: @c-dark-grey;
}

.page-footer__htmlacademy-title {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @c-dark-grey;
  text-decoration: none;

  @media (max-width: @mobile-width-only) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
  }
}

.page-footer--notindex {
  background-color: @c-basic-grey;
}

.page-footer__yamaps {
  position: relative;
  overflow: hidden;
}

.page-footer__yamaps-iframe {
  position: relative;
  border: 0;
  width: 100%;
}

.page-footer__objects {
  @media (max-width: @mobile-width-only) {
    background-color: @c-basic-grey;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.page-footer__logo-link {
  @media (max-width: @mobile-width-only) {
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid @c-border-footer;
  }
}

.page-footer__list {
  @media (max-width: @mobile-width-only) {
    display: flexbox;
    border-bottom: 1px solid @c-border-footer;
    list-style: none;
  }
}
