.selection {
  padding-top: 27px;
}

.selection__first-group {
  max-width: 1920px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin-bottom: 71px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.selection__comment-data {
  max-width: 1700px;
  margin: 0 auto;
}

.selection__additional-data {
  max-width: 1700px;
  margin: 0 auto;
}

.selection__confirm-row {
  max-width: 1920px;
  margin: 0 auto;
}

.selection__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: @c-black;
  margin-top: 0;
  margin-bottom: 37px;
  padding: 0;

  @media (max-width: @mobile-width-only) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.selection__wrapper {
  margin-top: 0;
  padding: 0;
  margin-bottom: 13px;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.selection__container {
  width: 100%;

  @media (max-width: @mobile-width-only) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
    max-width: 1920px;
    margin: 0 auto;
  }
}

.selection__description {
  font-size: 14px;
  line-height: 18px;
  color: @c-black;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (max-width: @mobile-width-only) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
  }
}

.selection__label {
  font-size: 16px;
  line-height: 18px;
  color: @c-dark-grey;
  text-transform: uppercase;
  white-space: nowrap;
  margin-right: 10px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.selection__text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @c-dark-grey;
  height: 46px;
  border: 1px solid @c-input-border;
  padding: 15px 20px;
  width: 100%;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.selection__number {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @c-dark-grey;
  height: 46px;
  border: 1px solid @c-input-border;
  padding-left: 10px;
  padding-right: 10px;

  @media (max-width: @mobile-width-only) {
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.selection__radio-label {
  color: @c-dark-grey-2;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.selection__main-group {
  padding: 0;
  border: 0;

  @media (max-width: @mobile-width-only) {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 24px;
    border-bottom: 1px solid @c-border-footer;
  }

  @media (min-width: @tablet-width) {
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 72px;
    border: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-right: 0;
    margin-right: 80px;
    margin-bottom: 0;
    border: 0;
  }
}

.selection__program-group {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @c-dark-grey-2;
  padding: 20px 0;
  margin: 0;
  border: 0;
  border-bottom: 1px solid @c-border-footer;

  @media (max-width: @mobile-width-only) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: @tablet-width) {
    border: 1px solid @c-input-border;
    margin-left: 70px;
    margin-right: 70px;
    padding: 25px 28px;
  }

  @media (min-width: @desktop-width) {
    border: 1px solid @c-input-border;
    padding-left: 28px;
    padding-right: 28px;
    margin-left: 0;
    margin-right: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.selection__contact-group {
  font-size: 16px;
  line-height: 18px;
  color: @c-dark-grey;
  padding: 0;
  margin: 0;
  border: 0;
  margin-bottom: 27px;
  position: relative;

  &::after {
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 15px;
    height: 2px;
    background-color: @c-basic-green;
    z-index: -1;

    @media (max-width: @mobile-width-only) {
      width: 70%;
    }

    @media (min-width: @tablet-width) {
      width: 100%;
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }
}

.selection__email {
  font-size: 16px;
  line-height: 18px;
  border: 1px solid @c-special-grey;
  height: 46px;
  text-transform: uppercase;
  color: @c-dark-grey;

  @media (max-width: @mobile-width-only) {
    padding: 10px 20px;
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 20px;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    padding: 20px 20px;
    width: 100%;
  }
}

.selection__phone {
  font-size: 16px;
  line-height: 18px;
  border: 1px solid @c-special-grey;
  height: 46px;
  text-transform: uppercase;
  color: @c-dark-grey;

  @media (max-width: @mobile-width-only) {
    padding: 10px 20px;
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 20px;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    padding: 20px 20px;
    width: 100%;
  }
}

.selection__comment-wrapper {
  position: relative;

  &::after {
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 15px;
    height: 2px;
    background-color: @c-basic-green;
    z-index: -1;

    @media (max-width: @mobile-width-only) {
      width: 70%;
    }

    @media (min-width: @tablet-width) {
      width: 100%;
    }
  }

  @media (max-width: @mobile-width-only) {
    margin-bottom: 34px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 76px;
  }
}

.selection__comment {
  border: 1px solid @c-input-border;
  text-transform: uppercase;
  color: @c-dark-grey;
  padding: 10px;
  margin: 0;
  width: 100%;

  @media (max-width: @mobile-width-only) {
    padding: 15px 15px;
    min-height: 150px;
  }

  @media (min-width: @tablet-width) {
    padding: 15px 20px;
    font-size: 20px;
    line-height: 30px;
    min-height: 174px;
  }

  @media (min-width: @desktop-width) {
    padding: 15px 20px;
  }
}

.selection__additional-group {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @c-black;
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;

  &::after {
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 15px;
    height: 2px;
    background-color: @c-basic-green;
    z-index: -1;

    @media (max-width: @mobile-width-only) {
      width: 70%;
    }

    @media (min-width: @tablet-width) {
      width: 100%;
    }
  }

  @media (max-width: @mobile-width-only) {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 34px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 34px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.selection__legend {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 32px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.selection__submit {
  margin: auto;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
  }
}

.selection__header-additional {
  text-transform: none;
  margin-bottom: 34px;

  @media (max-width: @mobile-width-only) {
    width: 160px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -40px;
    font-size: 36px;
    line-height: 36px;
    width: 291px;
    margin-bottom: 57px;
  }
}

.selection__header-contact {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  width: 200px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -40px;
    margin-bottom: 76px;
    width: 593px;
  }
}

.selection__header-comment {
  width: 140px;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -40px;
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
    width: 262px;
  }
}

.selection__radio {
  margin-right: 10px;
}

.selection__checkbox {
  margin-right: 10px;
}

.selection__checkbox-label {
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.selection__choice-wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.selection__confirm-wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 30px;
    padding: 0 40px;
    justify-items: left;
    align-items: center;
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    margin-left: auto;
    margin-right: auto;
    padding: 0 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
  }
}

.selection__main-description {
  margin: 0 auto;
  max-width: 1920px;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    padding: 0 70px;
    margin-bottom: 66px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}
